.sec {
  opacity: .3;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s; }
  .end .sec {
    -webkit-transform: translateY(-500px);
    -moz-transform: translateY(-500px);
    -ms-transform: translateY(-500px);
    -o-transform: translateY(-500px);
    transform: translateY(-500px); }
  .status-end .end .sec {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }

.intro .intro-text {
  width: 80%;
  max-width: 400px;
  margin: 10% auto 0; }
.intro h1 {
  line-height: 1.1;
  margin: 0 0 15px; }
.intro p {
  line-height: 1;
  margin: 0 0 2em; }
  .intro p span {
    margin-bottom: 15px; }
    .intro p span:nth-child(1) {
      opacity: 1; }
    .intro p span:nth-child(2) {
      opacity: 0.8; }
    .intro p span:nth-child(3) {
      opacity: 0.6; }
    .intro p span:nth-child(4) {
      opacity: 0.4; }

.quiz {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  padding: 0 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .quiz span {
    line-height: 1;
    display: block;
    margin-top: -.5em; }
    .quiz span.out {
      visibility: hidden;
      -webkit-transform: scale(0.5);
      -moz-transform: scale(0.5);
      -ms-transform: scale(0.5);
      -o-transform: scale(0.5);
      transform: scale(0.5);
      opacity: 0; }
    .quiz span.in {
      visibility: visible;
      -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
      -moz-transition: -moz-transform 0.3s, opacity 0.3s;
      -o-transition: -o-transform 0.3s, opacity 0.3s;
      transition: transform 0.3s, opacity 0.3s;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      opacity: 1; }
    .end .quiz span {
      -webkit-transition: -webkit-transform 2s, opacity 2s;
      -webkit-transition-delay: 1s, 1s;
      -moz-transition: -moz-transform 2s 1s, opacity 2s 1s;
      -o-transition: -o-transform 2s 1s, opacity 2s 1s;
      transition: transform 2s 1s, opacity 2s 1s;
      -webkit-transform: scale(0) rotate(-720deg);
      -moz-transform: scale(0) rotate(-720deg);
      -ms-transform: scale(0) rotate(-720deg);
      -o-transform: scale(0) rotate(-720deg);
      transform: scale(0) rotate(-720deg);
      opacity: 0; }
    .status-end .end .quiz span {
      -webkit-transform: scale(1) rotate(0deg);
      -moz-transform: scale(1) rotate(0deg);
      -ms-transform: scale(1) rotate(0deg);
      -o-transform: scale(1) rotate(0deg);
      transform: scale(1) rotate(0deg);
      opacity: 1; }

.answer {
  position: absolute;
  z-index: 3000;
  bottom: 0px;
  left: 0;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-bottom: 24px;
  background: rgba(255, 255, 255, 0.75);
  -webkit-transition: -webkit-transform 0.5s;
  -webkit-transition-delay: 3s;
  -moz-transition: -moz-transform 0.5s 3s;
  -o-transition: -o-transform 0.5s 3s;
  transition: transform 0.5s 3s; }
  .answer .btn + .btn {
    margin-left: .5em; }
  .playing .answer .btn-yes .glyphicon {
    padding: 0 0 0 5px; }
  .playing .answer .btn-no .glyphicon {
    padding: 0 5px 0 0; }
  .end .answer {
    -webkit-transform: translateY(500px);
    -moz-transform: translateY(500px);
    -ms-transform: translateY(500px);
    -o-transform: translateY(500px);
    transform: translateY(500px); }
  .status-end .end .answer {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }

.score {
  position: absolute;
  z-index: 2001;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(204, 204, 204, 0.1);
  font-size: 24px;
  line-height: 1.1;
  padding: 5px 10px; }

.glyphicon {
  padding-right: 5px; }
  .btn .glyphicon {
    position: relative;
    top: 3px; }

.glyphicon-ok {
  color: #39ca74; }

.glyphicon-remove {
  color: #e54d42; }

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-text-size-adjust: 100%; }

.view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.intro {
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  z-index: 0; }

.playing {
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  -o-transition: -o-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  z-index: 1;
  background: white; }

.end {
  background: white;
  z-index: 2;
  overflow: hidden; }

.gameover {
  position: relative;
  background: #a00;
  z-index: 3;
  color: white;
  top: 150%;
  -webkit-transition: top 1s ease-in;
  -moz-transition: top 1s ease-in;
  -o-transition: top 1s ease-in;
  transition: top 1s ease-in; }
  .gameover.showGameOver {
    -webkit-transition: 0;
    -moz-transition: 0;
    -o-transition: 0;
    transition: 0;
    top: 0%; }

.status-intro .intro {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }
.status-intro .playing {
  visibility: hidden; }
.status-intro .end {
  visibility: hidden; }
.status-intro .gameover {
  visibility: hidden; }

.status-playing .playing {
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1; }
.status-playing .end {
  visibility: hidden; }
.status-playing .gameover {
  visibility: hidden; }

.status-end .playing {
  visibility: hidden; }
.status-end .end {
  visibility: visible; }
.status-end .gameover {
  visibility: visible; }
